*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    @media print {
        background-color: $color-white;
        font-size: 62.5%;
    }
}

.content {
    // A4 paper
    width: $page-width;
    min-height: paper_height($page-width);
    @include themed() {
        background-color: t('bg-page');
    }

    @media screen and (min-width: 60rem) {
        margin: 6rem 0;
        @include shadow(1);
        @include hz-center;
    }
    @media print {
        margin: 0;
        height: paper_height($page-width) * $pages;
    }
}

body {
    @include themed() {
        background-color: t('bg');
    }

    box-sizing: border-box;
}

@media print {
    @page {
        margin: 0;
        size: A4;
    }
}

::selection {
    @include themed() {
        color: t('text-selection');
        background-color: t('accent');
    }
}
