//--colors
$accentPrimaryLight: #a34b4b;
$accentPrimaryDark: $accentPrimaryLight;
$accentSecondaryLight: lighten($accentPrimaryLight, 40%);
$accentSecondaryDark: darken($accentPrimaryDark, 10%);
//$brand--secondary--light: #4376A3;
//$brand--secondary--dark: lighten($brand--secondary--light, 18%);
$backgroundLight: #ccc;
$backgroundDark: #1C1F22;
// $backgroundPrimary: lighten($accentPrimaryLight, 40%);
// $backgroundSecondary: lighten($accentSecondaryLight, 40%);
$backgroundPageLight: lighten($backgroundLight, 15%);
$backgroundPageDark: desaturate(lighten($backgroundDark, 5%), 5%);
$backgroundCardLight: lighten($backgroundLight, 10%);
$backgroundCardDark: desaturate(lighten($backgroundPageDark, 5%), 5%);
$cardBorderLight: 0px solid transparent;
$cardBorderDark: 1px solid lighten($backgroundCardDark, 12%);
$textImportantLight: #333;
$textImportantDark: #e4e2e2;
$textLight: lighten($textImportantLight, 6.5%);
$textDark: darken($textImportantDark, 20%);
$textSecondaryLight: lighten($textLight, 10%);
$textSecondaryDark: darken($textDark, 10%);
$textSelectionLight: $backgroundPageLight;
$textSelectionDark: $backgroundPageLight;
$borderLight: darken($backgroundCardLight, 10%);
$borderDark: lighten($backgroundCardDark, 10%);
$hoverLight: transparentize($accentSecondaryLight, .9);
$hoverDark: transparentize(#fff, .9);
$highlight: transparentize($accentSecondaryLight, .1);