.contact {
    line-height: 2rem;

    &__item {
        position: relative;
        margin-bottom: 5px;

        & > i {
            margin-right: 5px;
            @include themed() {
                color: t('accent');
            }
            vertical-align: middle;
        }

        & > span {
            @include vt-center;
        }
    }
}